<alert>
    <details>
      <summary>Adding files to context</summary>
      <p>
        Usually, Junie is quite good at navigating the project on his own but if you want Junie to be laser-focused, you can hit the <strong>"+" button</strong> to attach specific files or folders. This is how you give Junie access to custom parts of your project—like your README, API guidelines, or folder structures.
      </p>
      <p>
        <img style="margin: auto; display: block; width: 400px;" src="https://ucarecdn.com/e9ada323-f819-4557-b031-101d6eb23ea9/" alt="Adding files to context" title="Adding files to context">
      </p>
      <p>You can attach:</p>
    
      <ul>
        <li>Config or certain files;</li>
        <li>Entire directories (e.g., /src/controllers);</li>
        <li>Single files with tricky logic or expanded instructions.</li>
      </ul>
    
      <p>This is a huge help in larger projects. Instead of explaining everything to Junie, just show it.</p>
    </details>
</alert>